body 
{
    font: Segoe UI, Arial, sans-serif;
    background-color:Gray;
}

.nav
{
    text-align:left;
    text-decoration: none;
    border: none;
    display: inline;
    margin: 5px 7px 5px;
    color: Blue;
    padding: 5px 7px 5px 7px;
}
div
{
    text-align:center;
}

