body 
{
    font: Segoe UI, Arial, sans-serif;
    background-color: silver;
}

.nav
{
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline;
    margin: 5px 7px 5px;
    background-color: white;
    color: black;
    padding: 5px 7px 5px 7px;
    background-color: grey;
}
div
{
    text-align:center;
}
table.table
{
    padding: 5px 5px 7px 420px;
}
th.title
{
    font: bold;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 7px;
}
th.product 
{
    font: normal;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 7px;
}
